$icon-font-path: "/fonts/";
@import "bootstrap";

.album {
  .panel-heading {
    font-size: 18px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .album-year {
      color: lighten(#000, 50%);
    }
  }
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating.rated .rating-star {
  color: $brand-primary;
}

.rating:hover .rating-star {
  @extend .glyphicon-star-empty;
}

.rating:hover > .rating-star:hover,
.rating:hover > .rating-star:hover ~ .rating-star {
  @extend .glyphicon-star;
  color: $brand-primary;
}
